<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Save Employee</title>
</head>
<div class="container">
    <h3>Employee Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Employee</p>

    <form th:action="@{/members/save}"
          th:object="${member}" method="POST">
        <!--        <input type="text" th:field="*{username}" placeholder="Username" class="form-control mb-4 w-25">-->
        <!-- Display input field if the username is empty -->
        <div th:if="${#strings.isEmpty(member.username)}">
            <input type="text" th:field="*{username}" placeholder="Username" class="form-control mb-4 w-25">
        </div>

        <!-- Display a read-only text field if the username is not empty -->
        <div th:if="${not #strings.isEmpty(member.username)}">
            <input type="text" th:field="*{username}" placeholder="Username" class="form-control mb-4 w-25"
                   readonly="readonly">
        </div>

        <p>Generate Password hash with a <a href="https://www.luv2code.com/generate-bcrypt-password">Generator Tool</a>
        </p>
        <input type="text" th:field="*{pw}" placeholder="Password" class="form-control mb-4 w-100">

        <input type="text" th:field="*{firstName}" placeholder="First name" class="form-control mb-4 w-25">

        <input type="text" th:field="*{lastName}" placeholder="Last name" class="form-control mb-4 w-25">

        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 w-50">

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/}">Back to Employee List</a>
</div>
<body>

</body>